<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1">
	<test name="Init">
		<classes>
			<class name="com.qa.utils.GlobalSetup"> </class>
		</classes>
	</test>

	<test name="Mobile1">
		<parameter name="device" value="1" />
		<classes>
			<class name="com.qa.android.tests.MinopLeaveRequestTest"></class>
			<!--	<class name="com.qa.android.tests.MinopLoginTest"></class>
				<class name="com.qa.android.tests.MinopHomeTest"></class>
					<class
			name="com.qa.android.tests.MinopLeaveRequestTest_Part2"></class>
			
			<class name="com.qa.android.tests.MinopApproveLeaveTest"></class>
			<class name="com.qa.android.tests.MinopAttendanceCorrectionTest"></class>
-->
		</classes>
	</test>
	<!--<test name="Browser">     parallel="tests" 
		<parameter name="device" value="3" />
		<classes>
			<class name="com.qa.brow.tests.MinopLoginBrowTest">	</class>
		</classes>
	</test>
	<test name="Mobile2">
		<parameter name="device" value="2" />
		<classes>
			<class name="com.qa.android.tests.MinopHomeTest"></class>
		</classes>
	</test>-->

</suite> <!--
Suite -->
